<div class="bg-red-100 h-screen mx-auto w-screen bg-gradient-to-b from-sky-400 to-sky-200">
  <div class="grid place-items-center h-full">
    <form class="flex flex-col w-80" [formGroup]="login">
      <div class="form-control w-full max-w-xs">
        <label class="label">
          <span class="label-text">Email</span>
        </label>
        <input type="email" formControlName="email" placeholder="Email" class="input input-bordered input-sm w-full max-w-xs">
      </div>
      <div class="form-control w-full max-w-xs">
        <label class="label">
          <span class="label-text">Password</span>
        </label>
        <input type="password" formControlName="password" placeholder="Password" class="input input-bordered input-sm w-full max-w-xs">
      </div>

      <div class="flex mt-3 gap-2">
        <button type="button" class="btn btn-sm flex-auto" (click)="registerUser()" >Register</button>
        <button class="btn btn-sm flex-auto" type="submit" (click)="signIn()">Login</button>
      </div>

      <!-- <div>Login: {{authService.isLoggedIn()}}</div> -->
    </form>

  </div>

</div>
