<div class="navbar bg-white/30 backdrop-blur-lg text-white">
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl">Todo[MinimalAPI] </a>
  </div>
  <div class="flex-none gap-2">
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full ring">
          <img *ngIf="userImage()" [src]="userImage()" alt="user" />
        </div>
      </label>
      <ul tabindex="0" class="mt-3 p-2 shadow menu menu-compact dropdown-content bg-black/80 backdrop-blur-lg rounded-box w-52">
        <li><a (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
